body {
    background-color: #3366FF;
    color: #000000;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
h1 {
    color: #660033;
    text-align: center;
}
p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
}
.container {
    display: flex;
}
